model/xsd/mediaroom.assetadminservice.datamodel.Device.MNA.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.Device.xsd" />
  <xs:annotation>
    <xs:documentation>
      - MNA specific version of generic Device elements
    </xs:documentation>
  </xs:annotation>
  <xs:element name="MNA-110-ENCDP-Device" type="MNA-110-ENCDP-DeviceType" />
  <xs:complexType name="MNA-110-ENCDP-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-110-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-110-ENCDP-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-110-ENCDP-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
   <xs:element name="MNA-110-ENCDVI-Device" type="MNA-110-ENCDVI-DeviceType" />
  <xs:complexType name="MNA-110-ENCDVI-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-110-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-110-ENCDVI-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-110-ENCDVI-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
   <xs:element name="MNA-110-ENCHDSDI-Device" type="MNA-110-ENCHDSDI-DeviceType" />
  <xs:complexType name="MNA-110-ENCHDSDI-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-110-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-110-ENCHDSDI-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-110-ENCHDSDI-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
     <xs:element name="MNA-120-DECDVIAudio-Device" type="MNA-120-DECDVIAudio-DeviceType" />
  <xs:complexType name="MNA-120-DECDVIAudio-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-120-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-120-DECDVI-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-120-DECDVI-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
    <xs:element name="MNA-120-ENCANAAudio-Device" type="MNA-120-ENCANAAudio-DeviceType" />
  <xs:complexType name="MNA-120-ENCANAAudio-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-120-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-120-ENCANA-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-120-ENCANA-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
   <xs:element name="MNA-120-ENCDPAudio-Device" type="MNA-120-ENCDPAudio-DeviceType" />
  <xs:complexType name="MNA-120-ENCDPAudio-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-120-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-120-ENCDP-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-120-ENCANA-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="MNA-120-ENCDVIAudio-Device" type="MNA-120-ENCDVIAudio-DeviceType" />
  <xs:complexType name="MNA-120-ENCDVIAudio-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-120-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-120-ENCDVI-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-120-ENCDVI-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MNA-120-ENCHDSDIAudio-Device" type="MNA-120-ENCHDSDIAudio-DeviceType" />
  <xs:complexType name="MNA-120-ENCHDSDIAudio-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="MNA-120-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="MNA-120-ENCHDSDI-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="MNA-120-ENCDVI-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="MNA-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.2" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> 
  <xs:complexType name="MNA-110-ResourcePointersType">
    <xs:sequence>
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MNA-120-ResourcePointersType">
    <xs:sequence>
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MNA-110-ENCDP-DeviceConfig" type="MNA-110-ENCDP-DeviceConfigType" />
  <xs:complexType name="MNA-110-ENCDP-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-110-ENCDP-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-110-ENCDP-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDVI-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-110-ENCDP-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-110-ENCDVI-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
   <xs:complexType name="MNA-110-ENCHDSDI-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-110-ENCDP-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-110-ENCHDSDI-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-120-DECDVI-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-120-DECDVI-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
   <xs:complexType name="MNA-120-ENCANA-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-110-ENCDP-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-120-ENCANA-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
   <xs:complexType name="MNA-120-ENCDP-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-110-ENCDP-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-120-ENCDP-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
   <xs:complexType name="MNA-120-ENCDVI-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-120-ENCDVI-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-120-ENCDVI-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
   <xs:complexType name="MNA-120-ENCHDSDI-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="MNA-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="MNA-120-ENCDVI-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="MNA-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="MNA-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="MNA-120-ENCHDSDI-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
  
 <!--   <xs:element name="MNA-110-ENCDP-DeviceStatus" type="MNA-110-ENCDP-DeviceStatusType" />-->
  <xs:complexType name="MNA-110-ENCDP-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="MNA-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="MNA-110-ENCDP-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="MNA-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="MNA-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="MNA-110-ENCDP-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDVI-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="MNA-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="MNA-110-ENCDP-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="MNA-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="MNA-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="MNA-110-ENCDVI-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  
  <xs:complexType name="MNA-110-ENCHDSDI-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="MNA-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="MNA-110-ENCDP-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="MNA-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="MNA-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="MNA-110-ENCDVI-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  
  <xs:complexType name="MNA-120-DECDVI-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="MNA-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="MNA-120-DECDVI-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="MNA-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="MNA-120-DECDVI-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="MNA-120-DECDVI-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  
  <xs:complexType name="MNA-120-ENCANA-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="MNA-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="MNA-110-ENCDP-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="MNA-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="MNA-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="MNA-120-ENCANA-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  
  <xs:complexType name="MNA-120-ENCDVI-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="MNA-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="MNA-110-ENCDP-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="MNA-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="MNA-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="MNA-120-ENCDVI-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  <xs:complexType name="MNA-DeviceCommandType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsCommand" type="SystemElementsCommandType" />
      <xs:element name="ServiceElementsCommand" type="ServiceElementsCommandType" />
      <xs:element name="NetworkElementsCommand" type="NetworkElementsCommandType" />
      <xs:element name="StorageElementsCommand" type="StorageElementsCommandType" />
      <xs:element name="AVCodecElementsCommand" type="AVCodecElementsCommandType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="MNA-SystemElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="SystemElementsConfigType">
        <xs:sequence>
         <!--  <xs:element name="CPUConfig" type="CPUElementConfigType" />
          <xs:element name="MemoryConfig" type="MemoryElementConfigType" />
          <xs:element name="SystemHWConfig" type="SystemHWElementConfigType" /> -->
          <xs:element name="SystemClockConfig" type="SystemClockElementConfigType" />
          <xs:element name="FirmwareImageConfig" type="FirmwareImageElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-SystemElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="SystemElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="CPUStatus" type="CPUElementStatusType" />
          <xs:element name="MemoryStatus" type="MemoryElementStatusType" />
          <xs:element name="SystemHWStatus" type="SystemHWElementStatusType" />
          <xs:element name="SystemClockStatus" type="SystemClockElementStatusType" />
          <xs:element name="FirmwareImageStatus" type="FirmwareImageElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="HTTPServiceConfig" type="HTTPServiceElementConfigType" />
          <xs:element name="SSHServiceConfig" type="SSHServiceElementConfigType" />
         <!--  <xs:element name="TelnetServiceConfig" type="TelnetServiceElementConfigType" />
          <xs:element name="TFTPServiceConfig" type="TFTPServiceElementConfigType" /> -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-ServiceElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="ServiceElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="HTTPServiceStatus" type="HTTPServiceElementStatusType" />
          <xs:element name="SSHServiceStatus" type="SSHServiceElementStatusType" />
          <xs:element name="TelnetServiceStatus" type="TelnetServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-NetworkElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="NetworkElementsConfigType">
        <xs:sequence>
          <xs:element name="EthernetPortTableConfig" type="MNA-EthernetPortTableElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-EthernetPortTableElementConfigType">
    <xs:complexContent mixed="false">
      <xs:restriction base="EthernetPortTableElementConfigType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="EthernetPortConfig" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-NetworkElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="NetworkElementsStatusType">
        <xs:sequence>
          <xs:element name="EthernetPortTableStatus" type="MNA-EthernetPortTableElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-EthernetPortTableElementStatusType">
    <xs:complexContent mixed="false">
      <xs:restriction base="EthernetPortTableElementStatusType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="EthernetPortStatus" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDP-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="MNA-ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="XMPPAgentServiceConfig" type="MNA-110-ENCDP-XMPPAgentServiceElementConfigType" />
          <xs:element name="StreamingServiceConfig" type="MNA-110-ENCDP-StreamingServiceElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-ENCDVI-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="MNA-ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="XMPPAgentServiceConfig" type="MNA-110-ENCDP-XMPPAgentServiceElementConfigType" />
          <xs:element name="StreamingServiceConfig" type="MNA-120-ENCDVI-StreamingServiceElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="MNA-ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="XMPPAgentServiceConfig" type="MNA-120-DECDVI-XMPPAgentServiceElementConfigType" />
          <xs:element name="StreamingServiceConfig" type="MNA-120-DECDVI-StreamingServiceElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDP-ServiceElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="MNA-ServiceElementsStatusType">
        <xs:sequence minOccurs="0">
         <!--   <xs:element name="LinkLocalXMPPAgentServiceStatus" /> -->
          <xs:element name="XMPPAgentServiceStatus" type="MNA-110-ENCDP-XMPPAgentServiceElementStatusType"/>
          <xs:element name="StreamingServiceStatus" type="MNA-110-ENCDP-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-ServiceElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="MNA-ServiceElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="XMPPAgentServiceStatus" type="MNA-110-ENCDP-XMPPAgentServiceElementStatusType"/>
          <xs:element name="StreamingServiceStatus" type="MNA-110-ENCDP-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-StorageElementsConfigType">
    <!-- <xs:complexContent mixed="false">
       <xs:extension base="StorageElementsConfigType">
        <xs:sequence>
          <xs:element name="MountTableConfig" type="MountTableElementConfigType" />
          <xs:element name="CFDriveConfig" type="CFDriveElementConfigType" />
        </xs:sequence>
      </xs:extension> 
    </xs:complexContent> -->
  </xs:complexType>
  <xs:complexType name="MNA-StorageElementsStatusType">
    <!-- <xs:complexContent mixed="false">
      <xs:extension base="StorageElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="MountTableStatus" type="MountTableElementStatusType" />
          <xs:element name="CFDriveStatus" type="CFDriveElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-StorageElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="StorageElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="MountTableStatus" type="MountTableElementStatusType" />
          <xs:element name="CFDriveStatus" type="CFDriveElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent> 
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDP-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-110-ENCDP-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDP-RFBPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDVI-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-110-ENCDVI-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDVI-RFBPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCHDSDI-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-110-ENCHDSDI-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDP-RFBPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-120-DECDVI-VideoPortConfigType" />
          <xs:element name="MNAVideoPortConfig" type="MNA-120-DECDVI-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDP-RFBPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-ENCANA-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-120-ENCANA-VideoPortConfigType" />
          <xs:element name="MNAVideoPortConfig" type="MNA-120-ENCANA-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDP-RFBPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-ENCDP-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-120-ENCDP-VideoPortConfigType" />
          <xs:element name="MNAVideoPortConfig" type="MNA-120-ENCDP-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDP-RFBPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-ENCDVI-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-110-ENCDVI-VideoPortConfigType" />
          <xs:element name="MNAVideoPortConfig" type="MNA-110-ENCDVI-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDP-RFBPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="MNA-120-ENCHDSDI-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="MNAVideoPortConfig" type="MNA-110-ENCHDSDI-VideoPortConfigType" />
          <xs:element name="MNAVideoPortConfig" type="MNA-110-ENCHDSDI-VideoPortConfigType" />
          <xs:element name="MNARFBPortConfig" type="MNA-110-ENCDP-RFBPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
          <xs:element name="MNAAudioPortConfig" type="MNA-120-DECDVI-AudioPortConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="MNA-110-ENCDP-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="MNAVideoPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNARFBPortStatus" type="AVCodecElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDVI-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="MNAVideoPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNARFBPortStatus" type="AVCodecElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="MNA-120-DECDVI-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="MNAVideoPortStatus" type="MNA-120-DECDVI-MNAVideoPortStatusType" />
          <xs:element name="MNAVideoPortStatus" type="MNA-120-DECDVI-MNAVideoPortStatusType" />
          <xs:element name="MNAAudioPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNAAudioPortStatus" type="AVCodecElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="MNA-120-ENCANA-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="MNAVideoPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNAVideoPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNARFBPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNAAudioPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNAAudioPortStatus" type="AVCodecElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="MNA-120-ENCDVI-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="MNAVideoPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNAVideoPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNARFBPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNAAudioPortStatus" type="AVCodecElementStatusType" />
          <xs:element name="MNAAudioPortStatus" type="AVCodecElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="MNA-120-DECDVI-MNAVideoPortStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementStatusType">
        <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="MNADisplayDisplayStatus" type="MNADisplayDisplayStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNADisplayDisplayStatusType">
          <xs:all>
          <xs:element name="Parameters" type="StatusParametersType" />
          </xs:all>
        </xs:complexType>
  <xs:complexType name="MNA-110-ENCDP-VideoPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
               <xs:element fixed="RTP-RAW" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element name="BasebandType" type="BasebandTypeEnumType" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNAVideoParameterConfig" type="MNAVideoParameterConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDVI-VideoPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
               <xs:element fixed="RTP-RAW" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element fixed="DVI" name="BasebandType" type="BasebandTypeEnumType" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNAVideoParameterConfig" type="MNAVideoParameterConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCHDSDI-VideoPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
               <xs:element fixed="RTP-RAW" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element fixed="HDSDI" name="BasebandType" type="BasebandTypeEnumType" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNAVideoParameterConfig" type="MNAVideoParameterConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-VideoPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
               <xs:element fixed="RTP-RAW" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element fixed="DVI" name="BasebandType" type="BasebandTypeEnumType" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxDecoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNADecoderVideoConfig">
          <xs:complexType>
              <xs:sequence>
               <xs:element  name="PixelAdjust" type="xs:int" />
                <xs:element name="StereoSync" type="xs:string" />
                <xs:element name="HSyncPolarity" type="xs:string" />
                <xs:element name="VSyncPolarity" type="xs:string" />
                <xs:element name="GenlockMode" type="xs:string" />
                <xs:element name="MasterDelay" type="xs:int" />
                <xs:element name="EnableVideoOutput" type="xs:boolean" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNADisplayConfig"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-ENCANA-VideoPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
               <xs:element fixed="RTP-RAW" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element fixed="ANA" name="BasebandType" type="BasebandTypeEnumType" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNAVideoParameterConfig" type="MNAVideoParameterConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-ENCDP-VideoPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
               <xs:element fixed="RTP-RAW" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element fixed="DP" name="BasebandType" type="BasebandTypeEnumType" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNAVideoParameterConfig" type="MNAVideoParameterConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-AudioPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
               <xs:element fixed="RTP-PCM" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNAAudioParameterConfig" type="MNAVideoParameterConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDP-RFBPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
                <xs:element fixed="RFB" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNARFBParameterConfig" type="MNAVideoParameterConfigType" />
          <xs:element name="MNARFBConfig" type="MNARFBConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDVI-RFBPortConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementConfigType">
        <xs:sequence>
          <xs:element name="Info">
            <xs:complexType>
              <xs:sequence>
                <xs:element fixed="RFB" name="StreamType" type="StreamTypeEnumType" />
                <xs:element name="Configurable" type="xs:boolean" />
                 <xs:element fixed="DVI" name="BasebandType" type="BasebandTypeEnumType" />
                <xs:element name="PortIOType" type="PortIOTypeEnumType" />
                <xs:element name="MaxEncoderInstanceCount" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="MNARFBParameterConfig" type="MNAVideoParameterConfigType" />
          <xs:element name="MNARFBConfig" type="MNARFBConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNAVideoParameterConfigType">
    <xs:sequence>
      <xs:element name="SDP-a-Template" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
            <xs:complexType name="MNARFBConfigType">
              <xs:sequence >
                <xs:element  name="SubChannel" type="xs:int" />
                <xs:element name="EnableRFB" type="xs:boolean" />
                <xs:element name="RFBHostName" type="xs:string" />
                <xs:element name="Password" type="xs:string" />
                <xs:element name="Port" type="xs:int" />
                <xs:element name="XOffset" type="xs:int" />
                <xs:element name="YOffset" type="xs:int" />
              </xs:sequence>
            </xs:complexType>
  <!--  <xs:complexType name="ORB-500-LinkLocalXMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="LinkLocalXMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> -->
  
  <xs:complexType name="MNA-110-ENCDP-XMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
                <xs:element ref="XMPPAgentServiceSourceAgentConfig" />
               <!--   <xs:element ref="XMPPAgentServiceXAuthAgentConfig" />-->
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-XMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
                <xs:element ref="XMPPAgentServiceDestinationAgentConfig" />
               <!--   <xs:element ref="XMPPAgentServiceXAuthAgentConfig" />-->
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--  <xs:complexType name="MNA-110-ENCDP-StreamingServiceElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementType">
        <xs:sequence>
          <xs:element name="Config" type="MNA-110-ENCDP-StreamingServiceElementConfigType" />
          <xs:element name="Status" type="MNA-110-ENCDP-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> -->
  <xs:complexType name="MNA-110-ENCDP-StreamingServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementConfigType">
        <xs:sequence>
          <xs:element ref="StreamsTxConfig" />
          <xs:element ref="RTPRAWtreamsTxConfig" />
          <xs:element ref="RTPRAWStreamsEncodeConfig" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-ENCDVI-StreamingServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementConfigType">
        <xs:sequence>
          <xs:element ref="StreamsTxConfig" />
          <xs:element ref="RTPRAWtreamsTxConfig" />
          <xs:element ref="RTPRAWStreamsEncodeConfig" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-120-DECDVI-StreamingServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementConfigType">
        <xs:sequence>
          <xs:element ref="StreamsTxConfig" />
          <xs:element ref="RTPRAWtreamsRxConfig" />
          <xs:element ref="RTPRAWStreamsDecodeConfig" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="MNA-110-ENCDP-StreamingServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementStatusType">
        <xs:sequence>
          <xs:element name="InstanceList" type ="MNA-110-ENCDP-StreamingServiceInstanceListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MNA-110-ENCDP-XMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
                <xs:element ref="XMPPAgentServiceSourceAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MNA-120-DECDVI-XMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
                <xs:element ref="XMPPAgentServiceDestinationAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
    </xs:complexType>
  <xs:complexType name="MNA-110-ENCDP-StreamingServiceInstanceListType">
    <!--  TBD  <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceInstanceListType">
        <xs:choice minOccurs="0" maxOccurs="2">
          <xs:sequence>
            <xs:element ref="V2DStreamTxInstance" />
            <xs:element ref="V2DEncoderInstance" />
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="V2DStreamRxInstance" />
            <xs:element ref="V2DDecoderInstance" />
          </xs:sequence>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType> 
</xs:schema>
