model/xsd/mediaroom.service.datamodel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="mediaroom.common.datamodel.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.User.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.Asset.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.ServiceResource.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.Device.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.Media.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.Profile.xsd" />
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.CollaborationConfig.xsd" />
  <xs:include schemaLocation="mediaroom.mediaroomservice.datamodel.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.Group.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.Rule.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.PolicyAdmin.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.UserAdmin.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.AssetAdmin.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.MediaStoreAdmin.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.MediaRoom.xsd" />
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.Network.xsd" />
  <xs:include schemaLocation="mediaroom.sessionservice.datamodel.SessionConfig.xsd" />
  <xs:annotation>
    <xs:documentation>
			TBD:
			- Policy
			- Room
			
			- LocalCfg/Prefs
	</xs:documentation>
  </xs:annotation>
  <xs:element name="DomainRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DomainName" type="xs:string" />
        <xs:element ref="ServiceRoot" />
      </xs:sequence>
      <xs:attributeGroup ref="DomainRootNID" />
      <xs:attribute fixed="DomainName" name="KeyElementRelativeXPath" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UserRoot" />
        <xs:element ref="AssetRoot" />
        <xs:element ref="DeviceRoot" />
        <xs:element ref="MediaRoot" />
        <xs:element ref="ServiceResourceRoot" />
        <xs:element ref="SessionConfigRoot" />
        <xs:element ref="GroupRoot" />
        <xs:element ref="PolicyRoot" />
      </xs:sequence>
      <xs:attribute name="serviceVer" type="xs:double" use="required" />
      <xs:attribute fixed="1.3" name="Ver" type="xs:double" use="required" />
      <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UserList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AssetResourceList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DeviceList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ExportImportFileList" />
        <xs:element ref="MediaStreamDirResourceList" />
        <xs:element ref="MediaStreamFileResourceList" />
        <xs:element ref="BookmarkList" />
        <xs:element name="MediaStreamPortResourceRoot">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="MediaStorePortResourceList" />
              <xs:element ref="MediaStreamSrcPortResourceList" />
              <xs:element ref="MediaStreamDstPortResourceList" />
              <xs:element ref="MediaStreamRelayPortResourceList" />
              <xs:element ref="MediaStreamIOPortResourceList" />
            </xs:sequence>
            <xs:attributeGroup ref="AutoNID" />
          </xs:complexType>
        </xs:element>
        <xs:element ref="MediaStreamProfileList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionConfigRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SessionConfigList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="GroupRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GroupTagDefList" />
        <xs:element ref="FilterRoot" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterRoot">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="TagObjectFilterList" />
        <xs:element ref="ObjectFilterList"/>
      </xs:choice>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PolicyAdminPolicyRoot" />
        <xs:element ref="UserAdminPolicyRoot" />
        <xs:element ref="AssetAdminPolicyRoot" />
        <xs:element ref="MediaStoreAdminPolicyRoot" />
        <xs:element ref="MediaRoomPolicyRoot" />
        <xs:element ref="NetworkPolicyRoot" />
        <xs:element ref="DisplayProfileRoot" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyAdminPolicyRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PolicyAdminPolicyRuleList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAdminPolicyRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UserAdminPolicyRuleList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetAdminPolicyRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AssetAdminPolicyRuleList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaStoreAdminPolicyRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MediaStoreAdminPolicyRuleList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceResourceRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ServiceResourceList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaRoomPolicyRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MediaRoomPolicyRuleList" />
        <xs:element ref="MediaStreamFilterList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="NetworkPolicyRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NetworkAddressRuleList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayProfileRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DisplayProfileList" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayProfileList">
    <xs:complexType>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectListCacheRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MediaStreamFileResourceDIRECTORYListCache" type="TagObjectListCacheType" />
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TagObjectListCacheType">
    <xs:sequence>
      <xs:element name="TagObjectType" type="TagObjectTypeEnumType" />
      <xs:element name="TagName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="TagObjectListCacheEntry" />
    </xs:sequence>
    <xs:attributeGroup ref="AutoNID" />
  </xs:complexType>
  <xs:element name="TagObjectListCacheEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TagValue" type="xs:string" />
        <xs:element name="ObjectNIDList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ObjectNID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="AutoNID" />
    </xs:complexType>
  </xs:element>
</xs:schema>