model/xsd/mediaroom.assetadminservice.datamodel.Device.V2D.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="mediaroom.assetadminservice.datamodel.Device.xsd" />
  <xs:annotation>
    <xs:documentation>
      - V2D specific version of generic Device elements
    </xs:documentation>
  </xs:annotation>
  <xs:element name="V2D-Tx-Device" type="V2D-Tx-DeviceType" />
  <xs:complexType name="V2D-Tx-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-Tx-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-Tx-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-Tx-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="1.10" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2D-Rx-Device" type="V2D-Rx-DeviceType" />
  <xs:complexType name="V2D-Rx-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-Rx-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-Rx-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-Rx-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="1.10" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2D-XP200-Device" type="V2D-XP200-DeviceType" />
  <xs:complexType name="V2D-XP200-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-XP200-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-XP200-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-XP200-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.3" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2D-XP200S-Device" type="V2D-XP200S-DeviceType" />
  <xs:complexType name="V2D-XP200S-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-XP200S-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-XP200S-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-XP200S-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.3" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2D-XP220-Device" type="V2D-XP220-DeviceType" />
  <xs:complexType name="V2D-XP220-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-XP200-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-XP200-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-XP200-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.3" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2D-XP220S-Device" type="V2D-XP220S-DeviceType" />
  <xs:complexType name="V2D-XP220S-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-XP200S-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-XP200S-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-XP200S-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.3" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2D-XP100-Device" type="V2D-XP100-DeviceType" />
  <xs:complexType name="V2D-XP100-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-XP200S-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-XP200S-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-XP200S-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.3" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2D-XPi-Device" type="V2D-XPi-DeviceType" />
  <xs:complexType name="V2D-XPi-DeviceType">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceType">
        <xs:sequence>
          <xs:element name="ResourcePointers" type="V2D-XP200S-ResourcePointersType" />
          <xs:element name="DeviceConfig" type="V2D-XP200S-DeviceConfigType" />
          <xs:element name="DeviceStatus" type="V2D-XP200S-DeviceStatusType" />
          <xs:element name="DeviceCommand" type="V2D-DeviceCommandType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="2.3" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-ResourcePointersType">
    <xs:sequence>
      <xs:element name="MediaStreamSrcPortResourceNID" type="NIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-ResourcePointersType">
    <xs:sequence>
      <xs:element name="MediaStreamDstPortResourceNID" type="NIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-ResourcePointersType">
    <xs:sequence>
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="V2D-XP200S-ResourcePointersType">
    <xs:sequence>
      <xs:element name="MediaStreamIOPortResourceNID" type="NIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V2D-Tx-DeviceConfig" type="V2D-Tx-DeviceConfigType" />
  <xs:complexType name="V2D-Tx-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="V2D-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="V2D-Tx-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="V2D-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="V2D-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="V2D-Tx-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
  <xs:element name="V2D-Tx-DeviceStatus" type="V2D-Tx-DeviceStatusType" />
  <xs:complexType name="V2D-Tx-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="V2D-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="V2D-Tx-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="V2D-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="V2D-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="V2D-Tx-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  <xs:element name="V2D-Rx-DeviceConfig" type="V2D-Rx-DeviceConfigType" />
  <xs:complexType name="V2D-Rx-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="V2D-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="V2D-Rx-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="V2D-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="V2D-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="V2D-Rx-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
  <xs:element name="V2D-Rx-DeviceStatus" type="V2D-Rx-DeviceStatusType" />
  <xs:complexType name="V2D-Rx-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="V2D-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="V2D-Rx-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="V2D-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="V2D-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="V2D-Rx-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  <xs:element name="V2D-XP200-DeviceConfig" type="V2D-XP200-DeviceConfigType" />
  <xs:complexType name="V2D-XP200-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="V2D-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="V2D-XP200-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="V2D-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="V2D-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="V2D-XP200-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
  <xs:element name="V2D-XP200S-DeviceConfig" type="V2D-XP200S-DeviceConfigType" />
  <xs:complexType name="V2D-XP200S-DeviceConfigType">
    <xs:all>
      <xs:element name="SystemElementsConfig" type="V2D-SystemElementsConfigType" />
      <xs:element name="ServiceElementsConfig" type="V2D-XP200-ServiceElementsConfigType" />
      <xs:element name="NetworkElementsConfig" type="V2D-NetworkElementsConfigType" />
      <xs:element name="StorageElementsConfig" type="V2D-StorageElementsConfigType" />
      <xs:element name="AVCodecElementsConfig" type="V2D-XP200S-AVCodecElementsConfigType" />
    </xs:all>
    <xs:attributeGroup ref="Device-Revision" />
  </xs:complexType>
  <xs:element name="V2D-XP200-DeviceStatus" type="V2D-XP200-DeviceStatusType" />
  <xs:complexType name="V2D-XP200-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="V2D-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="V2D-XP200-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="V2D-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="V2D-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="V2D-XP200-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  <xs:complexType name="V2D-XP200S-DeviceStatusType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsStatus" type="V2D-SystemElementsStatusType" />
      <xs:element name="ServiceElementsStatus" type="V2D-XP200-ServiceElementsStatusType" />
      <xs:element name="NetworkElementsStatus" type="V2D-NetworkElementsStatusType" />
      <xs:element name="StorageElementsStatus" type="V2D-StorageElementsStatusType" />
      <xs:element name="AVCodecElementsStatus" type="V2D-XP200S-AVCodecElementsStatusType" />
    </xs:all>
	<xs:attributeGroup ref="State" />
  </xs:complexType>
  <xs:element name="V2D-Tx-DeviceCommand" type="V2D-DeviceCommandType" />
  <xs:element name="V2D-Rx-DeviceCommand" type="V2D-DeviceCommandType" />
  <xs:element name="V2D-XP200-DeviceCommand" type="V2D-DeviceCommandType" />
  <xs:complexType name="V2D-DeviceCommandType">
    <xs:all minOccurs="0">
      <xs:element name="SystemElementsCommand" type="SystemElementsCommandType" />
      <xs:element name="ServiceElementsCommand" type="ServiceElementsCommandType" />
      <xs:element name="NetworkElementsCommand" type="NetworkElementsCommandType" />
      <xs:element name="StorageElementsCommand" type="StorageElementsCommandType" />
      <xs:element name="AVCodecElementsCommand" type="AVCodecElementsCommandType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="V2D-SystemElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="SystemElementsConfigType">
        <xs:sequence>
          <xs:element name="CPUConfig" type="CPUElementConfigType" />
          <xs:element name="MemoryConfig" type="MemoryElementConfigType" />
          <xs:element name="SystemHWConfig" type="SystemHWElementConfigType" />
          <xs:element name="SystemClockConfig" type="SystemClockElementConfigType" />
          <xs:element name="FirmwareImageConfig" type="FirmwareImageElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-SystemElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="SystemElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="CPUStatus" type="CPUElementStatusType" />
          <xs:element name="MemoryStatus" type="MemoryElementStatusType" />
          <xs:element name="SystemHWStatus" type="SystemHWElementStatusType" />
          <xs:element name="SystemClockStatus" type="SystemClockElementStatusType" />
          <xs:element name="FirmwareImageStatus" type="FirmwareImageElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="HTTPServiceConfig" type="HTTPServiceElementConfigType" />
          <xs:element name="SSHServiceConfig" type="SSHServiceElementConfigType" />
          <xs:element name="TelnetServiceConfig" type="TelnetServiceElementConfigType" />
          <xs:element name="TFTPServiceConfig" type="TFTPServiceElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-ServiceElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="ServiceElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="HTTPServiceStatus" type="HTTPServiceElementStatusType" />
          <xs:element name="SSHServiceStatus" type="SSHServiceElementStatusType" />
          <xs:element name="TelnetServiceStatus" type="TelnetServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="V2D-ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="LinkLocalXMPPAgentServiceConfig" type="V2D-Tx-LinkLocalXMPPAgentServiceElementConfigType" />
          <xs:element name="XMPPAgentServiceConfig" type="V2D-Tx-XMPPAgentServiceElementConfigType" />
          <xs:element name="StreamingServiceConfig" type="V2D-Tx-StreamingServiceElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-ServiceElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="V2D-ServiceElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="LinkLocalXMPPAgentServiceStatus" type="V2D-Tx-LinkLocalXMPPAgentServiceElementStatusType" />
          <xs:element name="XMPPAgentServiceStatus" type="V2D-Tx-XMPPAgentServiceElementStatusType" />
          <xs:element name="StreamingServiceStatus" type="V2D-Tx-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-NetworkElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="NetworkElementsConfigType">
        <xs:sequence>
          <xs:element name="EthernetPortTableConfig" type="V2D-EthernetPortTableElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-EthernetPortTableElementConfigType">
    <xs:complexContent mixed="false">
      <xs:restriction base="EthernetPortTableElementConfigType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="EthernetPortConfig" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-NetworkElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="NetworkElementsStatusType">
        <xs:sequence>
          <xs:element name="EthernetPortTableStatus" type="V2D-EthernetPortTableElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-EthernetPortTableElementStatusType">
    <xs:complexContent mixed="false">
      <xs:restriction base="EthernetPortTableElementStatusType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="EthernetPortStatus" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="V2D-ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="LinkLocalXMPPAgentServiceConfig" type="V2D-Rx-LinkLocalXMPPAgentServiceElementConfigType" />
          <xs:element name="XMPPAgentServiceConfig" type="V2D-Rx-XMPPAgentServiceElementConfigType" />
          <xs:element name="StreamingServiceConfig" type="V2D-Rx-StreamingServiceElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-ServiceElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="V2D-ServiceElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="LinkLocalXMPPAgentServiceStatus" type="V2D-Rx-LinkLocalXMPPAgentServiceElementStatusType" />
          <xs:element name="XMPPAgentServiceStatus" type="V2D-Rx-XMPPAgentServiceElementStatusType" />
          <xs:element name="StreamingServiceStatus" type="V2D-Rx-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-ServiceElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="V2D-ServiceElementsConfigType">
        <xs:sequence>
          <xs:element name="LinkLocalXMPPAgentServiceConfig" type="V2D-XP200-LinkLocalXMPPAgentServiceElementConfigType" />
          <xs:element name="XMPPAgentServiceConfig" type="V2D-XP200-XMPPAgentServiceElementConfigType" />
          <xs:element name="StreamingServiceConfig" type="V2D-XP200-StreamingServiceElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-ServiceElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="V2D-ServiceElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="LinkLocalXMPPAgentServiceStatus" type="V2D-XP200-LinkLocalXMPPAgentServiceElementStatusType" />
          <xs:element name="XMPPAgentServiceStatus" type="V2D-XP200-XMPPAgentServiceElementStatusType" />
          <xs:element name="StreamingServiceStatus" type="V2D-XP200-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-StorageElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="StorageElementsConfigType">
        <xs:sequence>
          <xs:element name="MountTableConfig" type="MountTableElementConfigType" />
          <xs:element name="CFDriveConfig" type="CFDriveElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-StorageElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="StorageElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="MountTableStatus" type="MountTableElementStatusType" />
          <xs:element name="CFDriveStatus" type="CFDriveElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="V2DEncoderConfig">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="V2DEncoderElementConfigType" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element name="V2DDecoderConfig" type="V2DDecoderElementConfigType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element minOccurs="2" maxOccurs="2" name="XP200PortConfig">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="V2DXP200ElementConfigType" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200S-AVCodecElementsConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsConfigType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="XP200PortConfig">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="V2DXP200ElementConfigType" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="V2DEncoderStatus" type="V2DEncoderElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="0">
          <xs:element name="V2DDecoderStatus" type="AVCodecElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="2" maxOccurs="2">
          <xs:element name="XP200PortStatus" type="V2DXP200ElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200S-AVCodecElementsStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="AVCodecElementsStatusType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element name="XP200PortStatus" type="V2DXP200ElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-LinkLocalXMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="LinkLocalXMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-LinkLocalXMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="LinkLocalXMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-LinkLocalXMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="LinkLocalXMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-LinkLocalXMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="LinkLocalXMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-LinkLocalXMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="LinkLocalXMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-LinkLocalXMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="LinkLocalXMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-XMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
                <xs:element ref="XMPPAgentServiceSourceAgentConfig" />
                <xs:element ref="XMPPAgentServiceXAuthAgentConfig" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-XMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
                <xs:element ref="XMPPAgentServiceSourceAgentStatus" />
                <xs:element ref="XMPPAgentServiceXAuthAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-XMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
                <xs:element ref="XMPPAgentServiceDestinationAgentConfig" />
                <xs:element ref="XMPPAgentServiceXAuthAgentConfig" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-XMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
                <xs:element ref="XMPPAgentServiceDestinationAgentStatus" />
                <xs:element ref="XMPPAgentServiceXAuthAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-XMPPAgentServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementConfigType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentConfig" />
                <xs:element ref="XMPPAgentServiceSourceAgentConfig" />
                <xs:element ref="XMPPAgentServiceXAuthAgentConfig" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-XMPPAgentServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="XMPPAgentServiceElementStatusType">
        <xs:sequence>
          <xs:element name="AgentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMPPAgentServiceConfigAgentStatus" />
                <xs:element ref="XMPPAgentServiceSourceAgentStatus" />
                <xs:element ref="XMPPAgentServiceXAuthAgentStatus" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-StreamingServiceElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementType">
        <xs:sequence>
          <xs:element name="Config" type="V2D-Tx-StreamingServiceElementConfigType" />
          <xs:element name="Status" type="V2D-Tx-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-StreamingServiceElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementType">
        <xs:sequence>
          <xs:element name="Config" type="V2D-Rx-StreamingServiceElementConfigType" />
          <xs:element name="Status" type="V2D-Rx-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-StreamingServiceElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementType">
        <xs:sequence>
          <xs:element name="Config" type="V2D-XP200-StreamingServiceElementConfigType" />
          <xs:element name="Status" type="V2D-XP200-StreamingServiceElementStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-StreamingServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementConfigType">
        <xs:sequence>
          <xs:element ref="StreamsTxConfig" />
          <xs:element ref="V2DStreamsTxConfig" />
          <xs:element ref="V2DStreamsEncodeConfig" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-StreamingServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementConfigType">
        <xs:sequence>
          <xs:element ref="V2DStreamsRxConfig" />
          <xs:element ref="V2DStreamsDecodeConfig" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-StreamingServiceElementConfigType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementConfigType">
        <xs:sequence>
          <xs:element ref="StreamsTxConfig" />
          <xs:element ref="V2DStreamsTxConfig" />
          <xs:element ref="V2DStreamsEncodeConfig" />
          <xs:element ref="V2DStreamsRxConfig" />
          <xs:element ref="V2DStreamsDecodeConfig" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-StreamingServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementStatusType">
        <xs:sequence>
          <xs:element name="InstanceList" type="V2D-Tx-StreamingServiceInstanceListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-StreamingServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementStatusType">
        <xs:sequence>
          <xs:element name="InstanceList" type="V2D-Rx-StreamingServiceInstanceListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-StreamingServiceElementStatusType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceElementStatusType">
        <xs:sequence>
          <xs:element name="InstanceList" type="V2D-XP200-StreamingServiceInstanceListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Tx-StreamingServiceInstanceListType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceInstanceListType">
        <xs:sequence minOccurs="0">
          <xs:element ref="V2DStreamTxInstance" />
          <xs:element ref="V2DEncoderInstance" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-Rx-StreamingServiceInstanceListType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceInstanceListType">
        <xs:sequence minOccurs="0">
          <xs:element ref="V2DStreamRxInstance" />
          <xs:element ref="V2DDecoderInstance" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="V2D-XP200-StreamingServiceInstanceListType">
    <xs:complexContent mixed="false">
      <xs:extension base="StreamingServiceInstanceListType">
        <xs:choice minOccurs="0" maxOccurs="2">
          <xs:sequence>
            <xs:element ref="V2DStreamTxInstance" />
            <xs:element ref="V2DEncoderInstance" />
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="V2DStreamRxInstance" />
            <xs:element ref="V2DDecoderInstance" />
          </xs:sequence>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
