model/xsd/mediaroom.policyadminservice.datamodel.UserAdmin.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="mediaroom.policyadminservice.datamodel.Rule.xsd" />
  <xs:element name="UserAdminPolicyRuleList" type="UserAdminPolicyRuleListType" />
  <xs:complexType name="UserAdminPolicyRuleListType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyRule" type="UserAdminPolicyRuleType" />
    </xs:sequence>
    <xs:attributeGroup ref="AutoNID" />
  </xs:complexType>
  <xs:element name="UserAdminPolicyRule" type="UserAdminPolicyRuleType" />
  <xs:complexType name="UserAdminPolicyRuleType">
    <xs:complexContent mixed="false">
      <xs:extension base="ServicePolicyRuleType">
        <xs:sequence>
          <xs:element name="UserAdminRoleSet" type="UserAdminRoleSetType" />
          <xs:element name="UserAdminObjectFilterSet" type="UserAdminObjectFilterSetType" />
          <xs:element name="RuleKeyTagFilterSet" type="ServiceRuleKeyTagFilterSetType" />
        </xs:sequence>
        <xs:attribute name="serviceVer" type="xs:double" use="required" />
        <xs:attribute fixed="1.3" name="Ver" type="xs:double" use="required" />
        <xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserAdminObjectFilterSetType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UserAdminObjectFilterNID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserAdminRoleSetType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UserAdminObjectRole" type="UserAdminObjectRoleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserAdminObjectRoleType">
    <xs:complexContent mixed="false">
      <xs:restriction base="ServiceObjectRoleType">
        <xs:sequence>
          <xs:element name="RoleObject">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="User" />
                <xs:enumeration value="User://Password" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="RoleAction">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Add" />
                <xs:enumeration value="Delete" />
                <xs:enumeration value="Read" />
                <xs:enumeration value="Modify" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>