model/xsd/mediaroom.assetadminservice.datamodel.ServiceResource.xsd

<?xml version="1.0" encoding="utf-8"?>
	<!--
		Created with Liquid XML Studio 1.0.8.0
		(http://www.liquid-technologies.com)
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="mediaroom.assetadminservice.datamodel.Resource.xsd" />
	<xs:include schemaLocation="mediaroom.assetadminservice.datamodel.ServiceResource.public.xsd" />
	<xs:element name="ServiceResourceList">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="ServiceResource" />
			</xs:sequence>
			<xs:attributeGroup ref="AutoNID" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceResource" type="ServiceResourceType" />
	<xs:complexType name="ServiceResourceType">
		<xs:complexContent mixed="false">
			<xs:extension base="ResourceType">
				<xs:sequence>
					<xs:element name="AssetResourceNID" type="xs:string" />
					<xs:element name="Info" type="ServiceInfoType" />
					<xs:element name='ApiKeyTable' type="ApiKeyTableType"/>
					<xs:element name="HA" type="HAType" />
				</xs:sequence>
				<xs:attribute name="serviceVer" type="xs:double" use="required" />
				<xs:attribute fixed="1.3" name="Ver" type="xs:double"
					use="required" />
				<xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceInfoType">
		<xs:all>
			<xs:element name="Description" type="xs:string" />
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AppService" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:element name="HA" type="HAType" />
	<xs:complexType name="HAType">
		<xs:sequence>
			<xs:element name="Primary" type="HAMSType"/>
			<xs:element name="Secondary" type="HAMSType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HAMSType">
		<xs:attribute name="MSAssetResourceNID" type="xs:string" />
		<xs:attribute name="state">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="active" />
					<xs:enumeration value="standby" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>


	<xs:element name="ServiceConfig" type="ServiceConfigType" />
	<xs:complexType name="ServiceConfigType">
		<xs:sequence>
			<xs:element name="MulticastIPAddressPool" type="MulticastIPAddressPoolType" />
			<xs:element name="WriterOptions" type="ServiceConfigWriterOptionsType" />
		</xs:sequence>
		<xs:attribute name="serviceVer" type="xs:double" use="required" />
		<xs:attribute fixed="1.1" name="Ver" type="xs:double"
			use="required" />
		<xs:attribute fixed="1" name="Rev" type="xs:int" use="required" />
	</xs:complexType>
   
</xs:schema>
