model/xsd/mediaroom.assetadminservice.datamodel.ServiceResource.public.xsd

<?xml version="1.0" encoding="utf-8"?>
	<!--
		Created with Liquid XML Studio 1.0.8.0
		(http://www.liquid-technologies.com)
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="MulticastIPAddressPoolType">
		<xs:sequence>
			<xs:element name="UsedIPAddressList" type="UsedIPAddressListType"/>
		</xs:sequence>
		<xs:attribute name="enable" type="xs:boolean"/>
		<xs:attribute name="from" type="xs:string"/>
		<xs:attribute name="to" type="xs:string"/>
	</xs:complexType>
	
	 <xs:complexType name="UsedIPAddressListType">
		<xs:sequence>
			<xs:element name="UsedIPAddress" minOccurs="0" maxOccurs="unbounded">
			   <xs:complexType>
			      <xs:sequence>
			      	<xs:element name='OutputKey' maxOccurs="unbounded" minOccurs="1"/t>
			      </xs:sequence>
			     <xs:attribute name='ipAddress' type='xs:string'/>
			     <xs:attribute name='inputKey' type='xs:string'/>
			   </xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ServiceConfigWriterOptionsType">
		<xs:sequence>		
		</xs:sequence>
		<xs:attribute name="enableHLS" type="xs:boolean"/>
	</xs:complexType>
</xs:schema>