model/xsd/mediaroom.assetadminservice.datamodel.DisplayProfile.public.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DisplayConfigType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Panel" type="DisplayPanelType"/>
    </xs:sequence>
    <xs:attribute name="configurable" type="xs:boolean"/>
    <xs:attribute name="hres" type="xs:string"/>
    <xs:attribute name="vres" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="CanvasType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Background" type="CanvasBackgroundType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Layout" type="CanvasLayoutType"/>
      <xs:element maxOccurs="unbounded" name="Window" type="CanvasWindowType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="hres" type="xs:string"/>
    <xs:attribute name="vres" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="CanvasLayoutType">
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="type" type="LayoutTypeEnum"/>
    <xs:attribute name="nRow" type="xs:integer" />
    <xs:attribute name="nCol" type="xs:integer"/>
    <xs:attribute name="colWidth" type="RowColSizeEnum"/>  
    <xs:attribute name="rowHeight" type="RowColSizeEnum"/>
    <xs:attribute name="hpad" type="xs:string"/>
    <xs:attribute name="vpad" type="xs:string"/>
    <xs:attribute name="stripPos" type="StripPoistionEnum"/>  
    <xs:attribute name="nStrip" type="xs:integer"/>
    <xs:attribute name="border" type="ShowHideEnum"/>
    <xs:attribute name="borderStyle" type="xs:string"/>
    <xs:attribute name="header" type="ShowHideEnum"/>  
    <xs:attribute name="headerStyle" type="xs:string"/>
    <xs:attribute name="active" type="xs:boolean"/>
  </xs:complexType>
  
  <xs:simpleType name="LayoutTypeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AutoGrid"/>
          <xs:enumeration value="AutoStrip"/>
          <xs:enumeration value="Custom"/>
        </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="RowColSizeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Auto"/>          
          <xs:enumeration value="Custom"/>
          <xs:enumeration value="XXX"/>
        </xs:restriction>
  </xs:simpleType>
   
  <xs:simpleType name="StripPoistionEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Left"/>          
          <xs:enumeration value="Top"/>
          <xs:enumeration value="Right"/>
          <xs:enumeration value="Bottom"/>
        </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="ShowHideEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Show"/>          
          <xs:enumeration value="Hide"/>
          <xs:enumeration value="AutoHide"/>
        </xs:restriction>
   </xs:simpleType>

  
  <xs:complexType name="CanvasBackgroundType">
    <xs:choice minOccurs="0">
     <xs:element name="ImageContent" type="ImageContentType"/>
      <xs:element name="SessionContent" type="SessionContentType"/>
    </xs:choice>
    <xs:attribute name="enable" type="xs:boolean"/>
    <xs:attribute fixed="0" name="zIndex" type="xs:integer"/>
    <xs:attribute name="content">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="OS"/>
          <xs:enumeration value="Image"/>
          <xs:enumeration value="Session"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="ImageContentType">
    <xs:attribute name="imageURL" type="xs:string"/>
    <xs:attribute name="color" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="SessionContentType">
    <xs:attribute name="enableConnPanel" type="xs:boolean"/>
    <xs:attribute name="enableBookmarkPanel" type="xs:boolean"/>
    <xs:attribute name="enableCtrlPanel" type="xs:boolean"/>
    <xs:attribute name="enableHeaderPanel" type="xs:boolean"/>
    <xs:attribute name="enablePlayerPanel" type="xs:boolean"/>
    <xs:attribute name="sessionId" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="CanvasWindowType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="ConnectionContent" type="ConnectionContentType"/>
        <xs:element name="ThumbnailContent" type="ThumbnailContentType"/>
      </xs:choice>
      <xs:element name="Properties" type="WindowPropertiesType"/>
      <xs:element minOccurs="0" name="SubCanvas" type="CanvasType" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="content">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MediaThumbnail"/>
          <xs:enumeration value="MediaStream"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="WindowPropertiesType">
		<xs:complexContent mixed="false">
			<xs:extension base="GeometryType">
				<xs:attribute name="layoutId" type="xs:string"/>
                <xs:attribute name="layoutPos" type="xs:integer"/>  
				<xs:attribute name="visibility" type="xs:boolean" />
				<xs:attribute name="maximize" type="xs:boolean" />
				<xs:attribute name="fps" type="xs:string" />
				<xs:attribute name="scale" type="xs:string" />
				<xs:attribute name="mute" type="xs:boolean" />
				<xs:attribute name="volume" type="xs:string" />
				<xs:attribute name="remoteKbmCtrl" type="xs:boolean" />
				<xs:attribute name="scrollHPos" type="xs:string"/>
                <xs:attribute name="scrollVPos" type="xs:string"/> 
			</xs:extension>
		</xs:complexContent>
  </xs:complexType>


  <xs:complexType name="ConnectionContentType">
    <xs:attribute name="MediaStreamIOPortTypeTitle" type="xs:string"/>
    <xs:attribute name="MediaStreamIOPortElementID" type="xs:string"/>
    <xs:attribute name="sessionId" type="xs:string"/>
    <xs:attribute name="connId" type="xs:string"/>
    <xs:attribute name="vres" type="xs:integer"/>
    <xs:attribute name="hres" type="xs:integer"/>
    <xs:attribute name="srcKbmCtrl" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="ThumbnailContentType">
    <xs:attribute name="MediaStreamIOPortTypeTitle" type="xs:string"/>
    <xs:attribute name="MediaStreamIOPortElementID" type="xs:string"/>
    <xs:attribute name="imageURL" type="xs:string"/>
    <xs:attribute name="refreshInterval" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="DisplayType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Background" type="DisplayBackgroundType"/>
      <xs:element maxOccurs="unbounded" name="Panel" type="DisplayPanelType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayBackgroundType">
    <xs:attribute name="enable" type="xs:boolean"/>
    <xs:attribute fixed="0" name="zIndex" type="xs:integer"/>
    <xs:attribute name="content" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="DisplayPanelType">
    <xs:sequence>
      <xs:element name="Geometry" type="GeometryType"/>
      <xs:element minOccurs="0" name="SubDisplay" type="DisplayType" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="enable" type="xs:boolean"/>
    <xs:attribute name="content" type="xs:string"/>
  </xs:complexType>
  
  <!-- 
    TBD: Add 'Geometry' paramters for:
      - hres/vres = Fit-to-src w/ scale
      - chroma keying
  -->
  <xs:complexType name="GeometryType">
    <xs:attribute name="zIndex" type="xs:integer"/>
    <xs:attribute name="border">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NONE"/>
          <xs:enumeration value="THIN"/>
          <xs:enumeration value="THICK"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vpos">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALIGNTOP"/>
          <xs:enumeration value="ALIGNMIDDLE"/>
          <xs:enumeration value="ALIGNBOTTOM"/>
          <xs:enumeration value="NNNpx"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="hpos">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALIGNLEFT"/>
          <xs:enumeration value="ALIGNMIDDLE"/>
          <xs:enumeration value="ALIGNRIGHT"/>
          <xs:enumeration value="NNNpx"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vres" type="xs:string"/>
    <xs:attribute name="hres" type="xs:string"/>
    <xs:attribute name="aspect">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SourceWidth"/>
          <xs:enumeration value="SourceHeight"/>
          <xs:enumeration value="Auto"/>
          <xs:enumeration value="None"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="transparency" type="xs:string"/>
  </xs:complexType>
</xs:schema>
